<div class="container-fluid dealerships-container">
    <div class="row">
        <div class="col-xs-6">
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href='@Url.Action("LoadDealershipInfo", "Dealerships")'">Load dealerships info</button>
        </div>
        <div class="col-xs-6">
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href='@Url.Action("CreateNewDealership", "Dealerships")'">Create new dealership</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href='@Url.Action("LoadEmployeesInfo", "Employee")'">Load employees info</button>
        </div>
        <div class="col-xs-6">
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href='@Url.Action("CreateNewEmployee", "Employee")'">Create new emloyee</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href='@Url.Action("LoadCarsInfo", "Car")'">Load cars info</button>
        </div>
        <div class="col-xs-6">
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href='@Url.Action("CreateNewCar", "Car")'">Create new car</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href='@Url.Action("ExportInfoDealer", "Dealerships")'">Export Info Dealer</button>
        </div>
    </div>
</div>
